
body
{
  font-family: Times New Roman, Liberation Serif, serif;
  background: #eee;
  /*
  margin: 1em;
  */
  text-align: center;
}

.font-awesome-icons
{
  font-size: 22px;
}

button
{
  border: 1px solid black;
  background-color: white;
  height: 40px;
  width: 40px;
}

button:hover
{
  background-color: #ADD8E6;
}

button:disabled, button[disabled]
{
  background-color: #D3D3D3;
}

li
{
  list-style-type: none;
  float: left;
}

canvas
{
  display: block;
  margin-top: 2px;
  background: #fff;
  border: 1px solid #ccc;
}

/*
  For tile images
*/
img
{
  margin: 5px;
  image-rendering: crisp-edges;
}

img:hover
{
  margin: 0px;
  border: 5px #ADD8E6 solid;
}

.flexBoxColumn
{
  display: flex;
  flex-direction: column;
}

.flexBoxRow
{
  display: flex;
  flex-direction: row;
}

.containerColumn
{
  /*
  width: 100px;
  */
  min-width: 134px;
  max-width: 134px;
  height: 540px;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.containerRow
{
  min-width: 530px;
  max-width: 530px;
  height: 123px;
  overflow: auto;
  flex-wrap: nowrap;
  /*
  justify-content: center;
  */
}

.containerDoubleRow
{
  min-width: 250px;
  max-width: 250px;
  height: 124px;
  overflow: auto;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.toolbar
{
  border: 1px black solid;
}

.toolbarBlock
{
  background-color: #F0F0F0;
  border: 3px grey solid;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 2px;
}

.innerToolbarBlock
{
  padding: 0px 5px;
}

.sidebar
{
  border: 1px black solid;
  margin-left: 2px;
}

.sidebarBlock
{
  background-color: #F0F0F0;
  border: 3px grey solid;
  justify-content: flex-start;
  margin: 2px 0px;
}

.innerSidebarBlock
{
  padding: 5px 0px;
}

.mapControlBlock
{
  margin-left: 0px;
}

.editBlock
{
}

.functionBlock
{
}

.helpBlock
{
}

.cursorBlock
{
}

.searchBlock
{
  margin-top: 0px;
}

.neighborPane
{
  font-size: 16px;
}

.intersectionPane
{
  font-size: 16px;
  border: 3px blue solid;
  margin: 0px 2px;
}

.ribbonGroupTitleHorizontal
{
  width: 100%;
  color: white;
  background-color: grey;
}

.ribbonGroupTitleVerticalWrapper
{
  display: flex;
}

.ribbonGroupTitleVertical
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.1em;
  color: white;
  background-color: grey;
}

.ribbonGroupTitleVertical p
{
  white-space: nowrap;
  transform: rotate(270deg);
}

.loadingScreen
{
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}